<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace : 해당하는 파일을 구분할 수 있는 고유의 이름을 정해주는 작업 해당하는 공간에는, mapper 파일을 
	사용하게 될 DAO의 full name을 기술하는 것을 원칙으로 한다. -->
<mapper namespace="com.babyhands.dao.MemberDAO">
	<!-- SQL 구문들을 기술할 수 있는 공간 -->
	<!-- * \#{} : JDBC기준 ?인자를 대신해서 사용하는 방식 : Java에서 전달받은 매개변수를 채울 때, 사용하는 mybatis만의 
		방식 -->
		
	<!-- 회원가입 -->
	<insert id="join" parameterType="com.babyhands.vo.MemberVO">
		INSERT INTO MEMBER(MEMBER_ID, PW, NICKNAME, EMAIL)
		VALUES(#{memberId}, #{pw}, #{nickname}, #{email})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="com.babyhands.vo.MemberVO"
		resultType="com.babyhands.vo.MemberVO">
		SELECT MEMBER_ID, NICKNAME
		FROM MEMBER
		WHERE MEMBER_ID =
		#{memberId} AND PW = #{pw}
	</select>
	
	<!-- 회원 가입 : 아이디 중복 체크 -->
	<select id="idCheck" parameterType="string" resultType="string">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 회원 가입 : 닉네임 중복 체크 -->
	<select id="nicknameCheck" parameterType="string" resultType="string">
		SELECT NICKNAME
		FROM MEMBER
		WHERE NICKNAME = #{nickname}
	</select>
	
	<!-- 회원 가입 : 이메일 중복 체크 -->
	<select id="emailCheck" parameterType="string" resultType="string">
		SELECT EMAIL
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<!-- 회원 수정 전 회원 정보 불러오기 -->
	<select id="selectById" parameterType="string" resultType="com.babyhands.vo.MemberVO">
		SELECT MEMBER_ID, PW, NICKNAME, EMAIL
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
	<!-- 회원 수정 : 닉네임 중복 체크 -->
	<select id="updateNickCheck" parameterType="com.babyhands.vo.MemberVO" resultType="string">
		SELECT NICKNAME
		FROM MEMBER
		WHERE MEMBER_ID != #{memberId} AND NICKNAME =#{nickname}
	</select>
	
	<!-- 회원 수정 : 이메일 중복 체크 -->
	<select id="updateEmailCheck" parameterType="com.babyhands.vo.MemberVO" resultType="string">
		SELECT EMAIL
		FROM MEMBER
		WHERE MEMBER_ID != #{memberId} AND EMAIL =#{email}
	</select>
	
	<!-- 회원 수정 -->
	<update id="update" parameterType="com.babyhands.vo.MemberVO">
		UPDATE MEMBER
		SET PW = #{pw},
			NICKNAME = #{nickname},
			EMAIL = #{email}
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="delete">
		DELETE FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</update>
	
	<!-- 아이디 찾기 : 이메일로 회원 아이디 찾기 -->
	<select id="findIdByEmail" parameterType="string" resultType="string">
		SELECT MEMBER_ID
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기 : 아이디와 이메일로 회원 비밀번호 찾기 -->
	<select id="findPw" parameterType="com.babyhands.vo.MemberVO" resultType="string">
		SELECT PW
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId} AND EMAIL = #{email}
	</select>
	
	<!-- 비밀번호 찾기 : 아이디와 이메일로 회원 비밀번호 찾기 -->
	<select id="getMemberInfo" parameterType="string" resultType="com.babyhands.vo.MemberVO">
		SELECT MEMBER_ID, NICKNAME, EMAIL
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
</mapper>