<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : DAO가 아니라 논리적인 Mapper 이름으로! -->
<mapper namespace="com.babyhands.dao.SignLanguageDAO">

	<!-- 마이페이지 : 전체 진행률(전체 수어 갯수 카운트) -->
	<select id="getCountAllSL" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM SIGN_LANGUAGE
		]]>
	</select>
	
	<!-- 수어 학습 : 자음 리스트 가져오기 -->
	<select id="getConsonantList" resultType="com.babyhands.vo.SignLanguageVO">
		<![CDATA[
			SELECT SL_ID, MEANING, VIDEO_PATH
			FROM SIGN_LANGUAGE
			WHERE VIDEO_PATH LIKE '%consonant%'
		]]>
	</select>
	
	<!-- 수어 학습 : 모음 리스트 가져오기 -->
	<select id="getVowelList" resultType="com.babyhands.vo.SignLanguageVO">
		<![CDATA[
			SELECT SL_ID, MEANING, VIDEO_PATH
			FROM SIGN_LANGUAGE
			WHERE VIDEO_PATH LIKE '%vowel%'
		]]>
	</select>
	
	<!-- 수어 테스트 : 랜덤 5개 문제 리스트 가져오기 -->
	<select id="getQuestionList" resultType="com.babyhands.dto.QuestionDTO">
		<![CDATA[
			SELECT SL_ID, MEANING, VIDEO_PATH
			FROM (
			  SELECT SL_ID, MEANING, VIDEO_PATH
			  FROM SIGN_LANGUAGE
			  ORDER BY DBMS_RANDOM.VALUE
			)
			WHERE ROWNUM <= 5
		]]>
	</select>

</mapper>