@charset "UTF-8";

:root {
  --primary-color: #6d5bff;
  --secondary-color: #007bff;
  --green-color: #28a745;
  --light-gray-bg: #f8f9fa;
  --container-bg: #ffffff;
  --border-color: #dee2e6;
  --text-dark: #212529;
  --text-light: #6c757d;
  --hover-color: #aab0ffc2;
}

.header-a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.header-ul {
  list-style: none;
}

.header-button {
  cursor: pointer;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  
  background-color: var(--secondary-color);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

/* --- 1. Header --- */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	flex-wrap: wrap;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.logo-icon {
	font-size: 1.8rem;
}

.logo-text {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--text-dark);
}

.main-nav ul {
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
}

.main-nav a {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--text-light);
	transition: color 0.2s ease;
	white-space: nowrap;
	text-decoration: none;
}

.main-nav a:hover, .main-nav a:focus, .main-nav a.active {
	color: var(--primary-color);
	text-decoration: none;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.username {
	font-weight: 500;
	color: var(--text-dark);
	white-space: nowrap;
}